<div class="jumbotron text-center">

  <div class="container">
<div class="col-sm-6 col-sm-offset-3">
  
  <form name="form" id="sign-in-form" ng-submit="submit()" autocomplete="off">

<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
          <label>Average Drive</label>
          <input type="text" class="form-control" name="email" ng-model="avg">
      </div>
      </div>
  <div class="col-sm-6">
      <div class="form-group">
          <label>Frequency</label>
          <input type="text" class="form-control" name="companyName" ng-model="freq">
      </div>
      </div>
      </div>
<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label>Date Start</label>
        <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dStart" is-open="status[0].opened" min-date="minDate" max-date="dFinish" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open(0)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span></p>
      </div>
  </div>
  <div class="col-sm-6">
      <div class="form-group">
          <label>Date Finish</label>
        <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dFinish" is-open="status[1].opened" min-date="dStart" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open(1)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span></p>
      </div>
      </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
          <label>Odometer Start</label>
          <input type="text" class="form-control" name="email" ng-model="oStart">
      </div>
    </div>
  <div class="col-sm-6">
      <div class="form-group">
          <label>Odometer Finish</label>
          <input type="text" class="form-control" name="email" ng-model="oFinish">
      </div>
      </div>
</div>
<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
          <label>Business KM</label>
          <input type="text" class="form-control" name="email" ng-model="km">
      </div>
      </div>
      </div>

      <button ng-disabled="form.$invalid" type="submit" class="btn btn-warning btn-lg">Generate</button>
  </form>


</div>
</div>
</div>
